# Configuración del Servidor (Render asigna el puerto solo)
PORT=10000
HOST=0.0.0.0

# Base de Datos (Neon - Online con PostgreSQL)
# Ejemplo: postgresql://usuario:password@endpoint.neon.tech/neondb?sslmode=require
DATABASE_URL=

# Configuración de Sesiones
SESSION_TIMEOUT_HORAS=8

# Configuración de Ventanas de Registro
REGISTRO_HORA_1=14:00
REGISTRO_HORA_2=02:00
VENTANA_TOLERANCIA_MINUTOS=119

# Otros
EMPRESA_NOMBRE="HPN - Biología Molecular"
NOTIFICACIONES_ACTIVAS=0
RUST_LOG=info
